interface Ethernet {{item.leaf_to_spine1_interface1}}
 description {{item.leaf_to_spine1_description1}}
 no bridge-port
 ip address {{item.leaf_to_spine1_ip1}}
 exit

!
interface Ethernet {{item.leaf_to_spine1_interface2}}
 description {{item.leaf_to_spine1_description2}}
 no bridge-port
 ip address {{item.leaf_to_spine1_ip2}}
 exit
!
interface Ethernet {{item.leaf_to_spine2_interface1}}
 description {{item.leaf_to_spine2_description1}}
 no bridge-port
 ip address {{item.leaf_to_spine2_ip1}}
 exit
!
interface Ethernet {{item.leaf_to_spine2_interface2}}
 description {{item.leaf_to_spine2_description2}}
 no bridge-port
 ip address {{item.leaf_to_spine2_ip2}}
 exit
!
interface loopback 0
 no bridge-port
 service-policy input copp-system-policy
 exit
!
routing-protocol bgp {{item.router_as_number}}
 bestpath as-path multipath-relax
 address-family ipv4 unicast
  maximum-paths ebgp {{item.router_multipath_number}}
  redistribute direct
  exit
 neighbor {{item.neighbor_address1}} remote-as {{item.neighbor_as_number}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address2}} remote-as {{item.neighbor_as_number}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address3}} remote-as {{item.neighbor_as_number}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address4}} remote-as {{item.neighbor_as_number}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
  exit
  exit