interface Ethernet {{item.spine_to_leaf1_interface1}}
 description {{item.spine_to_leaf1_description1}}
 no bridge-port
 ip address {{item.spine_to_leaf1_ip1}}
 exit

!
interface Ethernet {{item.spine_to_leaf1_interface2}}
 description {{item.spine_to_leaf1_description2}}
 no bridge-port
 ip address {{item.spine_to_leaf1_ip2}}
 exit
!
interface Ethernet {{item.spine_to_leaf2_interface1}}
 description {{item.spine_to_leaf2_description1}}
 no bridge-port
 ip address {{item.spine_to_leaf2_ip1}}
 exit
!
interface Ethernet {{item.spine_to_leaf2_interface2}}
 description {{item.spine_to_leaf2_description2}}
 no bridge-port
 ip address {{item.spine_to_leaf2_ip2}}
 exit
!
interface Ethernet {{item.spine_to_leaf3_interface1}}
 description {{item.spine_to_leaf3_description1}}
 no bridge-port
 ip address {{item.spine_to_leaf3_ip1}}
 exit

!
interface Ethernet {{item.spine_to_leaf3_interface2}}
 description {{item.spine_to_leaf3_description2}}
 no bridge-port
 ip address {{item.spine_to_leaf3_ip2}}
 exit
!
interface Ethernet {{item.spine_to_leaf4_interface1}}
 description {{item.spine_to_leaf4_description1}}
 no bridge-port
 ip address {{item.spine_to_leaf4_ip1}}
 exit
!
interface Ethernet {{item.spine_to_leaf4_interface2}}
 description {{item.spine_to_leaf4_description2}}
 no bridge-port
 ip address {{item.spine_to_leaf4_ip2}}
 exit
!
interface loopback 0
 no bridge-port
 service-policy input copp-system-policy
 exit
!
routing-protocol bgp {{item.router_as_number}}
 bestpath as-path multipath-relax
 address-family ipv4 unicast
  maximum-paths ebgp {{item.router_multipath_number}}
  redistribute direct
  exit
 neighbor {{item.neighbor_address1}} remote-as {{item.neighbor_as_number1}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address2}} remote-as {{item.neighbor_as_number1}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address3}} remote-as {{item.neighbor_as_number2}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address4}} remote-as {{item.neighbor_as_number2}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address5}} remote-as {{item.neighbor_as_number3}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address6}} remote-as {{item.neighbor_as_number3}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address7}} remote-as {{item.neighbor_as_number4}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
 neighbor {{item.neighbor_address8}} remote-as {{item.neighbor_as_number4}}
  advertisement-interval {{item.neighbor_ad_interval}}
  bfd
  address-family ipv4 unicast
  exit
  exit
  exit