#Show commands for spine
terminal length 0
display port-aggregation summary
display vlag configuration
display vlag instance all configuration
display vlag information
display vlag instance all information

