
#ISL configuration
interface ethernet {{item.slot_chassis_number1}}
aggregation-group {{item.portchannel_interface_number1}} mode {{item.portchannel_mode1}}
exit

interface port-aggregation {{item.portchannel_interface_number1}}
shut
lacp suspend-individual
no shut
exit

#LACP config
interface ethernet {{item.slot_chassis_number2}}
aggregation-group {{item.portchannel_interface_number2}} mode {{item.portchannel_mode1}}
exit
interface ethernet {{item.slot_chassis_number3}}
aggregation-group {{item.portchannel_interface_number3}} mode {{item.portchannel_mode1}}
exit
interface ethernet {{item.slot_chassis_number4}}
aggregation-group {{item.portchannel_interface_number4}}  mode {{item.portchannel_mode1}}
exit


#VLAN configuration
interface port-aggregation {{item.portchannel_interface_number1}}
bridge-port mode {{item.switchport_mode1}}
exit
interface port-aggregation {{item.portchannel_interface_number2}}
bridge-port mode {{item.switchport_mode1}}
exit
interface port-aggregation {{item.portchannel_interface_number3}}
bridge-port mode {{item.switchport_mode1}}
exit
interface port-aggregation {{item.portchannel_interface_number4}}
bridge-port mode {{item.switchport_mode1}}
exit

#STP configuration
spanning-tree mode {{item.stp_mode1}}

#vLAG configuration
vlag tier-id {{item.vlag_tier_id1}}
vlag isl port-aggregation {{item.portchannel_interface_number1}}
vlag enable
vlag instance {{item.vlag_instance_number1}} port-aggregation {{item.portchannel_interface_number2}}
vlag instance {{item.vlag_instance_number1}} enable
vlag instance {{item.vlag_instance_number2}} port-aggregation {{item.portchannel_interface_number3}}
vlag instance {{item.vlag_instance_number2}} enable
vlag instance {{item.vlag_instance_number3}} port-aggregation {{item.portchannel_interface_number4}}
vlag instance {{item.vlag_instance_number3}} enable

#individual commands
vlag hlthchk peer-ip {{ hostvars[inventory_hostname]['peerip']}}
